{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
<script src="{% static 'script.js' %}"></script>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="container bg-dark border-primary">
      <nav class="navbar navbar-dark bg-dark">
          <span class="navbar-brand mb-0 h1">Khuliet</span>
      </nav>
      <div class="card bg-light">
        <div class="card-body bg-light">
          <h5 class="card-title">마크를 클릭하면 화장실 정보를 조회할 수 있습니다!</h5>
          <div class="card-text bg-light"id="map"></div>  
        </div>
      </div>
      {% comment %} <div class="card bg-light">
        <div class="card-body bg-light">
          <h5 class="card-title">오우오우 싸발적이고</h5>
        </div>
      </div> {% endcomment %}
    </div>
    {% comment %} <div id="map_div"></div> {% endcomment %}
    <script>
    function initMap() {
      var daejeon = {lat: 36.3537, lng: 127.3393723};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: daejeon
      });
      {% for i in data %}
        // var lat = {{i.18}}
        // var lng = {{i.19}}
        // var postion = new google.maps.LatLng(lat,lng);
        var marker = new google.maps.Marker({
          position: {lat:{{i.18}},lng: {{i.19}}},
          map: map
        });
        
        var myCity = new google.maps.Circle({
          center: {lat:{{i.18}},lng: {{i.19}}},
          radius: 100,
          strokeColor: "#0000FF",
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: "#0000FF",
          fillOpacity: 0.4
        });
        myCity.setMap(map);

        var contentString = `
          <div>
            <h2>화장실 정보</h2>
            <p>구분 : {{i.0}}</p>
            <p>화장실명 : {{i.1}}</p>
            <p>주소 : {{i.2}}</p>
            <p>개방시간 : {{i.16}}</p>
            <p>전화번호 : {{i.15}}</p>
          </div>
        `;
        
        var info = new google.maps.InfoWindow({
          content: contentString,
          maxWizzzdth:300
        });
        google.maps.event.addListener(marker,'click',function(){
           info.open(map,marker);
         });
      {% endfor %}   
    }
    </script>
    <script>							
      // 1. 지도 띄우기
      map = new Tmapv2.Map("map_div", {
      	center: new Tmapv2.LatLng(37.52084364186228,127.058908811749),
      	width: "100%",
      	height: "400px"
      });
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{apiKey}}&callback=initMap&region=kr">
    </script>
  </body>
</html>

				

			
